<%- include partials/header.ejs %>
<!DOCTYPE html>
<html>
 
<head>
    <title>PayApp 12.07</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    
</head>
<style>
    .jumbotron {
        border-radius: 0rem !important;
    }
        p {
            color: #fff;
        }
    
</style>
<body>
    <div class="jumbotron"  style = "background-image: linear-gradient(0deg, rgba(255 255 255 / 54%), rgba(0 0 0 / 69%)), url('../images/bg1.jpg'); background-repeat: no-repeat; background-size: cover; ">
   <center> <div id="readArea" > <!-- READING FROM CONTRACT -->
        <button class="btn btn-indigo" onclick="connectMetamask()">CONNECT TO METAMASK</button>
        <p id="userArea" >Status: Not connected to Metamask</p>
        <!-- index html to meta-->
        <div class="container" >
        <button class="btn btn-connect2"  onclick="connectContract()">CONNECT TO CONTRACT</button>
        <p id="contractArea">Status: Not connected to Contract</p>
        <!-- meta to SC -->
   
        <button class="btn btn-indigo2" onclick="getContractAccount()"> GET CONTRACT ACCOUNT </button>
        <p id="contractAccount">Contract Account: Not Connected to Contract</p>
        <!-- CAlling the function designed in Transactions.sol get deployment addresss -->
   
        <button class="btn btn-connect" onclick="getBalanceApple()">GET BALANCE OF THE CONTRACT</button>
        <p id="balanceArea">Balance: Not Connected to Contract</p>
        <!-- CAlling the function designed in Transactions.sol get balance -->
   
   </div>
    </div> 
   
    <div id="writeArea"><!-- WRITING TO CONTRACT -->
        <button class="btn btn-connect3" onclick="depositContract()">Send ether to the Contract</button><br> &nbsp;
        <input type="number" id="depositInput" placeholder="Enter Amount"><br> <br>
        <!-- Deposit to contract calling on deposit function -->
   
        <button class="btn btn-indigo" onclick="withdraw()">WITHDRAW ETHER TO ANY ADDRESS</button> <br>
        <input type="text" id="addressInput" placeholder="Enter Address"> <br>
        <input type="number" id="amountInput" placeholder="Enter Amount">
        <!-- CAlling the function designed in Transactions.sol -->
        <!-- calling the withdraw function -->
    </div>
   </div> </center>
    <script> // the below script code is convention in web3 in forming the communication with Web
 
        let account;
        const connectMetamask = async () => {
            if (window.ethereum !== "undefined") {
                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                account = accounts[0];
                document.getElementById("userArea").innerHTML = `User Account: ${account}`;
            }
        }
 
        const connectContract = async () => {
            const ABI = [
            {
                "inputs": [],
                "name": "deposit",
                "outputs": [],
                "stateMutability": "payable",
                "type": "function"
            },
            {
                "inputs": [
                    {
                        "internalType": "address payable",
                        "name": "_to",
                        "type": "address"
                    },
                    {
                        "internalType": "uint256",
                        "name": "_amount",
                        "type": "uint256"
                    }
                ],
                "name": "withdraw",
                "outputs": [],
                "stateMutability": "nonpayable",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getAddress",
                "outputs": [
                    {
                        "internalType": "address",
                        "name": "",
                        "type": "address"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            },
            {
                "inputs": [],
                "name": "getBalance",
                "outputs": [
                    {
                        "internalType": "uint256",
                        "name": "",
                        "type": "uint256"
                    }
                ],
                "stateMutability": "view",
                "type": "function"
            }
        ] ;
            const Address = "0xFA607A7B085dEb45937D382dc9EE789237c0527a"; // Taking Address from Remix
            window.web3 = await new Web3(window.ethereum);
            window.contract = await new window.web3.eth.Contract(ABI, Address);
            document.getElementById("contractArea").innerHTML = "Connected to Contract"; // calling the elementID above
        }
 
        const getContractAccount = async () => {
            const data = await window.contract.methods.getAddress().call();
            document.getElementById("contractAccount").innerHTML = `Contract Account: ${data}`;
        }
 
        const getBalanceApple = async () => { // const getBalanceApple is the HTML function & .contract.getBalance is the smart contract function
            const data = await window.contract.methods.getBalance().call();
            document.getElementById("balanceArea").innerHTML = `Contract Balance: ${data}`;
        }
 
        const depositContract = async () => {
            const amount = document.getElementById("depositInput").value;
            await window.contract.methods.deposit().send({ from: account, value: amount });
        }
 
        const withdraw = async () => {
            const amount = document.getElementById("amountInput").value;
            const address = document.getElementById("addressInput").value;
            await window.contract.methods.withdraw(address, amount).send({ from: account });
        }
 
    </script>
 
</body>
</html>
<%- include partials/footer.ejs %>