<%- include partials/header.ejs %>
<!-- form starts here-->
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputfname">First Name</label>
      <input type="text" class="form-control" id="fname" placeholder="First Name" required>
    </div>
    <div class="form-group col-md-6">
      <label for="inputlname">Last Name</label>
      <input type="text" class="form-control" id="lname" placeholder="Last Name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="inputEmail4">Email</label>
<input type="email" class="form-control" id="inputEmail4" placeholder="Email" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label>
    <input type="tel" id="phone"  class="form-control" name="phone" placeholder="Phone Number" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
  
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="DOE">Date of Event</label>
      <input type="date"  class="form-control" id="inputdate">
    </div>
    <div class="form-group col-md-6">
      <label for="inputState">Number of Tickets</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>
    
  </div>
  <div class="form-group">
   <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
      I  accept the terms and conditions of the Event Registration.
      </label>
    </div> 
  </div>
  <button type="submit" class="btn btn-success">Book Now</button>
</form>
<!-- form ends here-->

<div class="jumbotron">
    <h1 class="display-4"> Welcome !</h1>
    <p class="lead">This is our app</p>
    <hr class="my-4">
    <p></p>
    <p class="lead">
      <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>

<div class="container">
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
      </tr>
    </tbody>
  </table>
</div>

<%- include partials/footer.ejs %>